@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
    --logo-color-blue: #2196F3;
}

:root {
    --color-black: black;
}

:root {
    --color-white: white;
}

:root {
    --color-grey: grey;
}

:root {
    --color-2er: #2F303A;
}

:root {
    --color-34er: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto !important;

}

.main {
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto !important;
}

a:hover {
    color: var(--logo-color-blue) !important;
}

.header {
    margin-left: 215px;
    white-space: nowrap;
    position: relative;
    top: 32px;
    display: flex;
}

.header * {
    display: inline-block;
}

.header>ul {
    margin-top: 0px;
    margin-right: 344px;
    margin-left: 93px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.header div:first-of-type {
    color: var(--logo-color-blue);
    font-size: 26px;
    margin-top: -8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.header>div:first-of-type>span {
    color: var(--color-black);
    font-size: 26px;
    margin-top: -8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.menu {

    font-weight: 500;
}

.header>ul>li>a {
    text-decoration: none;
    font-size: 14px;
    color: var(--color-black);
    left: 453px;
}

.header>ul>li {
    display: inline;
    margin-right: 20px;
    left: 453px;
}

.header>ul>li.menu-item {
    margin: 0 0 50px 0;
}



.header a:nth-of-type(1) {
    font-weight: 500;
    color: var(--color-grey);
    text-decoration: none;
    margin-right: 32px;
    font-size: 14px;

}

.header a:nth-of-type(1)~span {
    color: var(--color-grey);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
}

.container {
    display: table;
    margin-top: 32px;
    width: 1600px;
    height: 600px;
    background-image: url(./Imgw1w.png);
    margin-bottom: 60px;
}

.container div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    font-size: 44px;
    color: var(--color-white);
    font-weight: 900;
}

.container>div>button {
    border: none;
    display: flex;
    width: 216px;
    height: 50px;
    padding: 14px 35px;
    gap: 10px;
    border-radius: 5px;
    opacity: 0.85;
    background: var(--logo-color-blue);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 692px;
}

.main article>h2 {
    font-size: 14px;
    color: var(--color-black);
    font-weight: 700;
}
.main article{
    width: 270px;
    height: 248px;

}
.main article > img{
    width: 270px;
    height: 120px;
}
.main h2~p {
    font-size: 14px;
    color: var(--color-grey);
    font-weight: 400;
}

.main {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    gap: 30px;


}

.Doom p {
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 94px;
    color: var(--color-black);
    font-size: 36px;
}

.Doom div {
    justify-content: center;
    display: flex;
    gap: 30px;
}

.containert2 {
    margin-top: 94px;
    width: 1600px;
    height: 648px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    background: var(--color-34er);
}

.containert2 p {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: var(--color-black);
}

img {
    Width: 270px;
    Height: 260px;
}

.containert2 table {
    border: none;
    border-spacing: 30px;
    margin-left: auto;
    margin-right: auto;
}

.containert2 th {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 16px;

}

.containert2 samp:nth-of-type(2n+0) {
    font-weight: 500;
}

.containert2 span:nth-of-type(2n+0) {
    color: var(--color-grey);
    font-weight: 400;
}

.containert3 {
    width: 1600px;
    height: 252px;
    background: var(--color-2er);
}

.footer {
    margin-left: 215px;
    margin-top: 60px;
    position: relative;
    display: inline-block;
}

.footer div:first-of-type {
    color: var(--logo-color-blue);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.footer div:first-of-type>span {
    color: var(--color-white);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.footer div:nth-child(2) {
    font-size: 14px;
    color: var(--color-white);
    font-weight: 400;
}

.footer div:last-of-type {
    font-size: 14px;
    color: var(--color-grey);
    font-weight: 400;
}

.contenere {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1600px;
    height: 2346px;
}










.werder {
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 80px;
    border-bottom: 1px solid;
    border-color: #ECECEC;
}

.butony {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    gap: 8px;

}

.butony > button{
    width: 125px;
    height: 38px;
    background-color: rgb(245, 244, 250);
    border-radius: 4px;
}
.butony > button:hover{
    background-color: aqua;
}
.bodve {
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}
.bodve > div{
    width: 370px;
    height: 404px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(238, 238, 238);
}
.bodve > div > img{
    width: 370px;
    height: 294px;
}
.bodve > div > p{
    padding-left: 8px;
}
.bodve > div > p:last-child{
    color: #757575;
}
.bogy{
display: flex;
justify-content: center;
flex-direction: column;
}

