@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
:root {
    --logo-color-blue: #2196F3;
}
:root {
    --color-black: black;
}
:root {
    --color-white: white;
}
:root {
    --color-grey: grey;
}
:root {
    --color-2er: #2F303A;
}
:root {
    --color-34er: #F5F4FA;
}
   
    body {
      font-family: 'Roboto', sans-serif;
      margin: 0px;
      margin: 0auto;
    }


.header {
    margin-left: 215px;
    white-space: nowrap;
    position: relative;
    top: 32px;
    display: flex;
}

.header * {
    display: inline-block;
}

.menu {
    margin-top: 0px;
    margin-right: 344px;
    margin-left: 93px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.header div:first-of-type {
    color:var(--logo-color-blue);
    font-size: 26px;
    margin-top: -8px;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
}

.header span:first-of-type {
    color:var(--color-black);
    font-size: 26px;
    margin-top: -8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.menu{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.menu a {
    
  text-decoration: none;
    font-size: 14px;
    color:var(--color-black);
    left: 453px;
}

.menu li{
    display: inline;
    margin-right: 20px;
    left: 453px;
}

 .menu li.menu-item {
    margin: 0 0 50px 0;
}

a:hover{
    color:var(--logo-color-blue);
}

.header a:nth-of-type(1){
    font-weight: 500;
    color:var(--color-grey);
    text-decoration: none;
    margin-right: 32px;
    font-size: 14px;

}
.header span:nth-of-type(2) {
    font-weight: 500;
    color:var(--color-grey);
    text-decoration: none;
    font-size: 14px;
}

.container {
    display: table;
    margin-top: 32px;
    width: 1600px;
    height: 600px;
    background:var(--color-2er);
}

.container div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    font-size: 44px;
    color:var(--color-white);
    font-weight: 900;
}

.container a{
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 216px;
    height: 50px;
    text-decoration: none;
    color:var(--color-white);
    font-size: 16px;
    background-color:var(--logo-color-blue);
}

.main article > h2{
    font-size: 14px;
    color:var(--color-black);
    font-weight: 700;
}

.main h2 ~ p{
    font-size: 14px;
    color: var(--color-grey);
    font-weight: 400;
}

.main {
    justify-content: center;
    display: flex;
    margin-top: 94px;
    gap: 30px;

}

.Doom p{
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 94px;
    color:var(--color-black);
    font-size: 36px;
}

.Doom div{
    justify-content: center;
    display: flex;
    gap: 30px;
}

.containert2 {
    margin-top: 94px;
    width: 1600px;
    height: 648px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    background: var(--color-34er);
}

.containert2 p{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color:var(--color-black);
}

img {
    Width: 270px;
    Height: 260px;
}

table {
    border: none;
    border-spacing: 30px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color:var(--color-white);
    color:var(--color-black);
    font-size: 16px;

}
.containert2 samp:nth-of-type(2n+0){
    font-weight: 500;
}
.containert2 span:nth-of-type(2n+0) {
    color: var(--color-grey);
font-weight: 400;
}

.containert3 {
    width: 1600px;
    height: 252px;
    background: var(--color-2er);
}

.footer {
    margin-left: 215px;
    margin-top: 60px;
    position: relative;
    display: inline-block;
}

.footer div:first-of-type {
    color:var(--logo-color-blue);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.footer div:first-of-type > span{
    color: var(--color-white);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.ryt{
font-size: 14px;
 color:var(--color-white);
font-weight: 400;
}
.tyu{
    font-size: 14px;
    color: var(--color-grey);
font-weight: 400;
}